.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.cpu-card {
  background-color: #fb8d79;
}

.hdd-card {
  background-color: #c5f4fb;
}

.git-card {
  background-color: #6c8cfb;
}

.users-card {
  background-color: #0afbbb;
}

.users-card-content {
  overflow: auto;
  max-height: 100vh;

}
