<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px">

    <!--First tile-->
    <mat-grid-tile colspan="1" rowspan="1">
    <mat-card class="dashboard-card cpu-card">
      <mat-card-header>
        <img src="../../assets/cpu.svg" mat-card-avatar height="32" width="32">
        <mat-card-title>
          CPU
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content cpu-card-content">
        <div>32%</div>
      </mat-card-content>
    </mat-card>
    </mat-grid-tile>

    <!--Second tile-->
    <mat-grid-tile colspan="1" rowspan="1">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          Disk space
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Expand</button>
            <button mat-menu-item>Remove</button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div>Card Content Here</div>
      </mat-card-content>
    </mat-card>
    </mat-grid-tile>

    <!--Third tile-->
    <mat-grid-tile colspan="1" rowspan="1">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          Push events
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Expand</button>
            <button mat-menu-item>Remove</button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div>Card Content Here</div>
      </mat-card-content>
    </mat-card>
    </mat-grid-tile>

    <!--4 tile-->
    <mat-grid-tile colspan="1" rowspan="1">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          Users
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Expand</button>
            <button mat-menu-item>Remove</button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div>Card Content Here</div>
      </mat-card-content>
    </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
